Script to estimate change in stay at home devices pre and post covid:

1. Combines data of all months (Jan 1 to April 24).

2. Applies moving average and stratified re-weighting to estimate ratio of at home devices.


3. Finds median at home device ratio for pre covid based on county and day of the week(similar to google dataset)

4. Then estimates change in stay at home after covid.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
import pandas as pd
import numpy as np

In [0]:
# Combine all the month social distancing county data in 1 pandas file
# TODO: Change folder and folder_fips according to drive


folder = '/content/drive/My Drive/Grad Courses/CSE547/COVID19 data analysis/safegraph/social-distancing/2020/'
folder_fips = "/content/drive/My Drive/Grad Courses/CSE547/COVID19 data analysis/safegraph/safegraph_open_census_data/metadata/cbg_fips_codes.csv"
month_1 = pd.read_feather(folder+'01'+'_county_level_device_home')
month_2 = pd.read_feather(folder+'02'+'_county_level_device_home')
month_3 = pd.read_feather(folder+'03'+'_county_level_device_home')
month_4 = pd.read_feather(folder+'04'+'_county_level_device_home')

all_months = pd.concat((month_1,month_2,month_3,month_4),ignore_index=True)
all_months.sort_values(by=['date_range_start'],ignore_index=True, inplace=True)

In [4]:
# Apply 7 day moving average to device count and completely_home_device_count and remove initial 7 values (Jan 1 to Jan 6)
def rolling_mean(sort_gp):
  sort_gp = sort_gp.sort_values(by=['date_range_start'], ignore_index = 'True')
  sort_gp['device_count_avg'] = sort_gp['device_count'].rolling(window=7).mean()
  sort_gp['at_home_avg'] = sort_gp['completely_home_device_count'].rolling(window=7).mean()
  sort_gp = sort_gp.loc[6:]
  return sort_gp

all_months_avg = all_months.groupby(['state','county'],as_index=False).apply(rolling_mean)

# Change from multiindex to level 0
all_months_avg =all_months_avg.reset_index(0).reset_index(drop=True)
all_months_avg = all_months_avg.drop(columns=['level_0'])
all_months_avg

       state                  county  ... device_count_avg  at_home_avg
0         AK  Aleutians East Borough  ...         9.642857     3.523810
1         AK  Aleutians East Borough  ...         9.880952     3.571429
2         AK  Aleutians East Borough  ...        10.523810     3.714286
3         AK  Aleutians East Borough  ...        10.380952     3.476190
4         AK  Aleutians East Borough  ...        10.166667     3.666667
...      ...                     ...  ...              ...          ...
351408    WY           Weston County  ...        51.828571    18.971429
351409    WY           Weston County  ...        53.114286    18.371429
351410    WY           Weston County  ...        54.314286    18.457143
351411    WY           Weston County  ...        54.771429    18.400000
351412    WY           Weston County  ...        55.600000    18.914286

[351413 rows x 8 columns]

In [5]:
# Borrowed from safegraph colab file for cleaning data
# Find state wise mean of device_count/total_device
sdm_columns = ['device_count_avg', 'at_home_avg']
geo_cols = ['state']
time_keys = ['date_range_start']
df_state = all_months_avg.groupby(geo_cols + time_keys)[sdm_columns].sum(min_count=1).sort_values(by=geo_cols + time_keys, ascending=True).reset_index()
df_state['mean_est'] = df_state['at_home_avg'] / df_state['device_count_avg'] 
df_state.head()

  state date_range_start  device_count_avg  at_home_avg  mean_est
0    AK       2020-01-07        921.087250   288.106035  0.312789
1    AK       2020-01-08        910.602115   270.165582  0.296689
2    AK       2020-01-09        906.538089   262.801306  0.289895
3    AK       2020-01-10        901.735639   253.966132  0.281641
4    AK       2020-01-11        893.126679   250.634457  0.280626

In [6]:
# Borrowed from safegraph colab file for cleaning data
# Find within state variance of ratio
sdm_columns = ['device_count_avg', 'at_home_avg'] 
geo_groupby= ['state', 'county']
time_keys = ['date_range_start']
df_county = all_months_avg.groupby(geo_groupby + time_keys)[sdm_columns].sum(min_count=1).sort_values(by=geo_groupby + time_keys, ascending=True).reset_index()

# compute new metrics
df_county['ratio_device_home_avg'] = df_county['at_home_avg'] / df_county['device_count_avg']
df_county
var_within_state = df_county.groupby(geo_cols+ time_keys)['ratio_device_home_avg'].var().to_frame().add_suffix("_var").reset_index()
var_within_state

     state date_range_start  ratio_device_home_avg_var
0       AK       2020-01-07                   0.005771
1       AK       2020-01-08                   0.004996
2       AK       2020-01-09                   0.005161
3       AK       2020-01-10                   0.004511
4       AK       2020-01-11                   0.004738
...    ...              ...                        ...
6045    WY       2020-04-20                   0.000318
6046    WY       2020-04-21                   0.000277
6047    WY       2020-04-22                   0.000205
6048    WY       2020-04-23                   0.000207
6049    WY       2020-04-24                   0.000258

[6050 rows x 3 columns]

In [7]:
# Borrowed from safegraph colab file for cleaning data
# estimate the beta distribution BEta(alpha, beta) for counties (by state)
# We use the MEAN estimate from our overall earlier state estimates
# We use the variance estimates from the empircal bayes calculation of the variance of counties within each state (i.e., our certainty in the state_mean is >> our certainy in individual county means)

def estimate_alpha_beta(mean_, var_):
  # estimating beta distribution parameters with the method of moments. see BDA 3rd ED Gelman et al., pg. 583
  if(np.isnan(var_)):
    return(1,1)
  alpha_plus_beta = mean_*(1-mean_)/var_ - 1
  alpha_ = alpha_plus_beta * mean_
  beta_ = alpha_plus_beta - alpha_
  return(alpha_,beta_)

def estimate_alpha(mean_, var_):
  alpha, beta = estimate_alpha_beta(mean_, var_)
  return(alpha)

def estimate_beta(mean_, var_):
  alpha, beta = estimate_alpha_beta(mean_, var_)
  return(beta)


state_params = var_within_state.merge(df_state[time_keys + ['state', 'mean_est']].rename({'mean_est' : 'mean_estimate_for_state'}, axis=1), on=['state']+time_keys)
state_params

     state date_range_start  ratio_device_home_avg_var  mean_estimate_for_state
0       AK       2020-01-07                   0.005771                 0.312789
1       AK       2020-01-08                   0.004996                 0.296689
2       AK       2020-01-09                   0.005161                 0.289895
3       AK       2020-01-10                   0.004511                 0.281641
4       AK       2020-01-11                   0.004738                 0.280626
...    ...              ...                        ...                      ...
6045    WY       2020-04-20                   0.000318                 0.364067
6046    WY       2020-04-21                   0.000277                 0.354382
6047    WY       2020-04-22                   0.000205                 0.345442
6048    WY       2020-04-23                   0.000207                 0.339157
6049    WY       2020-04-24                   0.000258                 0.336181

[6050 rows x 4 columns]

In [0]:
# Borrowed from safegraph colab file for cleaning data
state_params['alpha_counties_in_this_state'] = state_params.apply(lambda x: estimate_alpha(x['mean_estimate_for_state'], x['ratio_device_home_avg_var']), axis=1) 
state_params
state_params['beta_counties_in_this_state'] = state_params.apply(lambda x: estimate_beta(x['mean_estimate_for_state'], x['ratio_device_home_avg_var']), axis=1)
state_params
df_county = df_county.merge(state_params, on=['state'] + time_keys)

In [9]:
# Borrowed from safegraph colab file for cleaning data
# To combine the state "prior" with the data observed from the individual county, add the prior alphas, betas with the observed data 
reg_param = 1

df_county['alpha'] = (reg_param * df_county['alpha_counties_in_this_state']  + df_county['at_home_avg'])
df_county['beta'] = (reg_param * df_county['beta_counties_in_this_state'] + df_county['device_count_avg'] - df_county['at_home_avg'])
df_county['model_mean_est'] = df_county['alpha'] / (df_county['alpha'] + df_county['beta'])
df_county['diff'] = np.abs(df_county['model_mean_est'] - df_county['ratio_device_home_avg'])

df_county

       state                      county  ... model_mean_est      diff
0         AK      Aleutians East Borough  ...       0.323852  0.041581
1         AK  Aleutians West Census Area  ...       0.319849  0.012885
2         AK      Anchorage Municipality  ...       0.290110  0.012798
3         AK          Bethel Census Area  ...       0.320794  0.011171
4         AK         Bristol Bay Borough  ...       0.372219  0.127781
...      ...                         ...  ...            ...       ...
351408    WY           Sweetwater County  ...       0.335356  0.013513
351409    WY                Teton County  ...       0.335941  0.004978
351410    WY                Uinta County  ...       0.335938  0.003635
351411    WY             Washakie County  ...       0.336551  0.008590
351412    WY               Weston County  ...       0.336423  0.003762

[351413 rows x 14 columns]

In [11]:
# Add days to the data, data started on tuesday (Jan 7th 2020)
days_total = len(df_county.date_range_start.unique())
days = ['Tues','Wed','Thurs','Fri', 'Sat', 'Sun','Mon']
weekday =[]
count = 0
for val in range(0, days_total):
  if count ==7:
    count=0
  weekday.append(days[count])
  count = count+1


df = pd.DataFrame()
df["days"] = weekday
df["date_range_start"]= df_county.date_range_start.unique()
df_county_days = pd.merge(df_county,df,on='date_range_start', how='inner')
df_county_days

       state                      county  ...      diff  days
0         AK      Aleutians East Borough  ...  0.041581  Tues
1         AK  Aleutians West Census Area  ...  0.012885  Tues
2         AK      Anchorage Municipality  ...  0.012798  Tues
3         AK          Bethel Census Area  ...  0.011171  Tues
4         AK         Bristol Bay Borough  ...  0.127781  Tues
...      ...                         ...  ...       ...   ...
351408    WY           Sweetwater County  ...  0.013513   Fri
351409    WY                Teton County  ...  0.004978   Fri
351410    WY                Uinta County  ...  0.003635   Fri
351411    WY             Washakie County  ...  0.008590   Fri
351412    WY               Weston County  ...  0.003762   Fri

[351413 rows x 15 columns]

In [12]:
# Seperate data in pre(before Feb 7th 2020) and post groups(from Feb 7th 2020) based on google mobility
df_county_pre = df_county_days[df_county_days['date_range_start'] < '2020-02-07']
df_county_post = df_county_days[df_county_days['date_range_start'] >= '2020-02-07']
df_county_post

       state                      county  ...      diff  days
99996     AK      Aleutians East Borough  ...  0.036148   Fri
99997     AK  Aleutians West Census Area  ...  0.078002   Fri
99998     AK      Anchorage Municipality  ...  0.018362   Fri
99999     AK          Bethel Census Area  ...  0.029359   Fri
100000    AK         Bristol Bay Borough  ...  0.030129   Fri
...      ...                         ...  ...       ...   ...
351408    WY           Sweetwater County  ...  0.013513   Fri
351409    WY                Teton County  ...  0.004978   Fri
351410    WY                Uinta County  ...  0.003635   Fri
351411    WY             Washakie County  ...  0.008590   Fri
351412    WY               Weston County  ...  0.003762   Fri

[251417 rows x 15 columns]

In [0]:
# Find median ratio of device at home in pre data for every day of week in a county
def median_est(grp):
  grp['median_v'] = grp['model_mean_est'].median()
  # day = grp.days
  return (grp)

df_county_pre1 =  df_county_pre[['state','county','days','model_mean_est']]
median_ratio = df_county_pre1.groupby(['state','county','days'],as_index=False).apply(median_est)
median_ratio
median_ratio.to_feather(folder+'_calculated_'+'median_weekly_'+'Jan_7_till_Feb_6th')

In [14]:
# Find median ratio of device at home in pre data for every day of week in a county
median_ratio = median_ratio.drop(columns=['model_mean_est'])
df_county_post_med = pd.merge(df_county_post,median_ratio,on=['state','county','days'], how='inner').sort_values(by = ['state','date_range_start'], ignore_index = True)
df_county_post_med = df_county_post_med[['state','county','date_range_start','days','model_mean_est','ratio_device_home_avg','diff','median_v']]
df_county_post_med

        state                      county  ...      diff  median_v
0          AK      Aleutians East Borough  ...  0.036148  0.280583
1          AK      Aleutians East Borough  ...  0.036148  0.280583
2          AK      Aleutians East Borough  ...  0.036148  0.280583
3          AK      Aleutians East Borough  ...  0.036148  0.280583
4          AK  Aleutians West Census Area  ...  0.078002  0.287141
...       ...                         ...  ...       ...       ...
1111940    WY             Washakie County  ...  0.008590  0.253458
1111941    WY               Weston County  ...  0.003762  0.255467
1111942    WY               Weston County  ...  0.003762  0.255467
1111943    WY               Weston County  ...  0.003762  0.255467
1111944    WY               Weston County  ...  0.003762  0.255467

[1111945 rows x 8 columns]

In [15]:
# Calculate post Feb 7th change at stay home devices
# Percentage change is ratio change w.r.t. median
# Difference is raw change from median
df_county_post_med['Percentage Change'] = (df_county_post_med.model_mean_est - df_county_post_med.median_v)*100/df_county_post_med.median_v
df_county_post_med['Change'] = (df_county_post_med.model_mean_est - df_county_post_med.median_v)*100

df_county_post_med

        state                      county  ... Percentage Change    Change
0          AK      Aleutians East Borough  ...         14.609660  4.099225
1          AK      Aleutians East Borough  ...         14.609660  4.099225
2          AK      Aleutians East Borough  ...         14.609660  4.099225
3          AK      Aleutians East Borough  ...         14.609660  4.099225
4          AK  Aleutians West Census Area  ...         28.237227  8.108070
...       ...                         ...  ...               ...       ...
1111940    WY             Washakie County  ...         32.783871  8.309331
1111941    WY               Weston County  ...         31.689401  8.095588
1111942    WY               Weston County  ...         31.689401  8.095588
1111943    WY               Weston County  ...         31.689401  8.095588
1111944    WY               Weston County  ...         31.689401  8.095588

[1111945 rows x 10 columns]

In [0]:
df_county_post_med.to_feather(folder+'_calculated_'+'stay_at_home'+'Feb_7_till_April_24')